.StudentLoginContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(20px); /* Start with a slight downward shift */
    animation: fadeInUp 0.8s ease-in-out forwards; /* Animation on load */
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Start from below */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at normal position */
    }
}

.StudentLoginHeaderBorder {
    margin-bottom: 1rem;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #439DF0;
}

.StudentLoginFormArea {
    width: 100%;
    height: 100%;
    display: flex;
}

.StudentLoginFormDoodle {
    margin-left: 0.8rem;
    height: 100%;
    width: 37%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.StudentLoginFormContainer {
    margin-left: 4rem;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.StudentLoginFormInputHeaders {
    font-size: larger;
    margin-top: 0.5rem;
}

.StudentLoginFormInputHeadersPassword {
    margin-top: 2rem;
}

/* Input field styling */
.StudentLoginFormInputInputs {
    width: 80%;
    height: 1.5rem;
    padding-right: 2rem; /* Space for the eye icon */
}

.StudentLoginFormInputInputs:focus {
    border: 2px solid black;
}

/* Container for password input and eye icon */
.PasswordVisibilityDiv {
    cursor: pointer;
    display: flex;
    margin-bottom: 1rem;
    font-size: small;
    margin-top: 0.3rem;
}

.PasswordToggleIcon {
    margin-left: 0.5rem;
}

/* Submit button styling */
.StudentLoginFormSubmitButton {
    font-size: large;
    cursor: pointer;
    height: 2rem;
    width: 6rem;
    background-color: #439DF0; /* Initial theme color */
    color: white; /* Text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    transition: all 0.3s ease-in-out; /* Smooth transition */
}

/* Hover effect */
.StudentLoginFormSubmitButton:hover {
    background-color: #367dc8; /* Darker shade of the theme color */
    transform: scale(1.1); /* Slight scaling effect on hover */
}

/* Focus state for accessibility */
.StudentLoginFormSubmitButton:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(67, 157, 240, 0.7); /* Add shadow on focus */
}
